header {
    background: white;
    height: 70px;
    vertical-align: middle;
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

header .logo {
    vertical-align: middle;
    margin-left: 20px;
}